<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ciy">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_chef_woman"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SearchRecipeActivity"
            android:theme="@style/SearchAppTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/BaseAppTheme">

        </activity>
        <activity
            android:name=".AddRecipeActivity"
            android:parentActivityName=".BottomNavigationBarActivity"
            android:theme="@style/NewRecipeAppTheme" />
        <activity
            android:name=".BottomNavigationBarActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/BaseAppTheme">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>